{% extends 'base.html' %}

{% block title %}login{% endblock %}
{% block content %}
<div class="container" >

<!--{% for cat, msg in get_flashed_messages(True) %}-->
<!--<ul class="list-group">-->
<!--    <li class="list-group-item list-group-item-{{cat}}">{{msg}}</li>-->
<!--</ul>-->
<!--{%endfor %}-->

{% from "_render_field.html" import render_field %}
    <form method="post">
      {{ form.csrf_token }}
      {{ render_field(form.email, class="form-control") }}
      {{ render_field(form.password, class="form-control") }}
      {{ render_field(form.remember, class="form-check") }}
      {{ form.submit(class="btn btn-primary") }}
    </form>

</div>







{% endblock %}
