
{% extends "base.html" %}
{% block title %}Projects{% endblock %}


{% block content %}
<div class="container-sm" align="center">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">

            <div class="card" style="width: 30%;  display:inline-block;">
              <img style="height:200px;" src="../static/imgs/projects/cocomo.jpg" class="card-img-top" alt="...">
               <div style="min-height:300px; max-height:300px;" class="card-body">
                <h5 class="card-title">Cocomo</h5>
                <p class="card-text">Cocomo calculator</p>
                <a href="#" class="btn btn-primary">Check it</a>
              </div>
            </div>

             <div class="card" style="width: 30%;  display:inline-block;">
              <img style="height:200px;" src="../static/imgs/projects/lang_fixer.jpg" class="card-img-top" alt="...">
               <div style="min-height:300px; max-height:300px;" class="card-body">
                <h5 class="card-title">Language changer</h5>
                <p class="card-text">Translate English symbols to Ukrainian.</p>
                <a href="#" class="btn btn-primary">Check it</a>
              </div>
            </div>

            <div class="card" style="width: 30%; display:inline-block;">
              <img style="height:200px;" src="../static/imgs/projects/calendar.jpg" class="card-img-top" alt="...">
               <div style="min-height:300px; max-height:300px;" class="card-body">
                <h5 class="card-title">Calendar</h5>
                <p class="card-text">Usual python kivy calendar.</p>
                <a href="#" class="btn btn-primary">Check it</a>
              </div>
            </div>





        </div>
        <div class="carousel-item">


            <div class="card" style="width: 30%; display:inline-block;">
              <img style="height:200px;" src="../static/imgs/projects/calendar.jpg" class="card-img-top" alt="...">
               <div style="min-height:300px; max-height:300px;" class="card-body">
                <h5 class="card-title">Calendar</h5>
                <p class="card-text">Usual python kivy calendar.</p>
                <a href="#" class="btn btn-primary">Check it</a>
              </div>
            </div>

             <div class="card" style="width: 30%;  display:inline-block;">
              <img style="height:200px;" src="../static/imgs/projects/lang_fixer.jpg" class="card-img-top" alt="...">
               <div style="min-height:300px; max-height:300px;" class="card-body">
                <h5 class="card-title">Language changer</h5>
                <p class="card-text">Translate English symbols to Ukrainian.</p>
                <a href="#" class="btn btn-primary">Check it</a>
              </div>
            </div>

             <div class="card" style="width: 30%;  display:inline-block;">
              <img style="height:200px;" src="../static/imgs/projects/cocomo.jpg" class="card-img-top" alt="...">
               <div style="min-height:300px; max-height:300px;" class="card-body">
                <h5 class="card-title">Cocomo</h5>
                <p class="card-text">Cocomo calculator</p>
                <a href="#" class="btn btn-primary">Check it</a>
              </div>
            </div>


        </div>

      </div>
      <button style="padding-right:10%" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button style="padding-left:10%" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

  </div>

</div>
{% endblock %}