

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Navbar
  </button>
  <ul class="dropdown-menu">
      <li>
          <a class="dropdown-item" href="{{ url_for('the_task.user_profile') }}">User profile</a>
      </li>
      <li>
          <a class="dropdown-item" href="{{ url_for('the_task.create_task') }}">Create task</a>
      </li>
      <li>
          <a class="dropdown-item" href="{{ url_for('the_task.create_category') }}">Create category</a>
      </li>
      <li>
          <a class="dropdown-item" href="{{ url_for('the_task.list_task') }}">Task list</a>
      </li>
      <li>
          <a class="dropdown-item" href="{{ url_for('the_task.list_category') }}">Category list</a>
      </li>
  </ul>
</div>




