


{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="height: 800px; width: 100%; background-image: url('../static/imgs/code.jpg'); " >

    <div style="padding-top: 20%;padding-left: 60%;">
        <div class="container" style="float: right;">
            <h3>
                <div><i style="color: white;">Code is like humor. </i></div>
                <div><i style="color: white;">When you have to explain it, it’s bad.</i></div>
            </h3>

            {% for i in range(1,4) %}
            <div class="container">
                <a href="{{navs[i].url}}">
                    <button  type="button" class="btn btn-light" style="width:200px;">More <b><i style="color:red;">{{navs[i].name}}</i></b></button>
                </a>
            </div>
            {% endfor %}




        </div>

    </div>

</div>

{% endblock %}


