{% extends "base.html" %}

{% block title %}Create task{% endblock %}
{% block content %}
    {% include 'tasks_nav.html' %}
    {% from "_render_field.html" import render_field %}
    <div class="container-sm" align="center">
        <div class="container" align="left">
            <form method="post">
              {{ form.csrf_token }}
              {{ render_field(form.title, class="form-control") }}
              {{ render_field(form.description, class="form-control") }}
              {{ render_field(form.deadline, class="form-control") }}
              {{ render_field(form.priority, class="form-control") }}
              {{ render_field(form.progress, class="form-control") }}
              {{ render_field(form.category, class="form-control") }}
              {{ form.submit(class="btn btn-secondary") }}
            </form>
        </div>
    </div>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='description') }}
{% endblock %}