
{% extends "base.html" %}
{% block title %}Contact{% endblock %}




{% block content %}




<div style="padding-top:5%;" class="container text-center">
    <div align="center" class="container">
        <img style="width:50%;
          border-radius: 45%;
            opacity:0.7"
             src="../static/imgs/call-center.png" >

    </div>


    <div style="padding-top:3%;" class="row">
        <div class="col">
            Mails :
        </div>
        <div class="col">
            <div class="row">my_super_mail@email.com</div>
            <div class="row">my_second_mail@email.com</div>
            <div class="row"> main_mail@email.com</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Phone :
        </div>
        <div class="col">
            <div class="row">0989999999</div>
            <div class="row">0688888888</div>
            <div class="row">55-68-35</div>
        </div>
    </div>

</div>
{% endblock %}